<!-- Toolbar -->
<div class="toolbar" role="banner">

  <span class="padding-left-2">Coding Exercise</span>
  <div class="spacer"></div>
</div>

<div class="content" role="main">
  <div class="padding">
    <h3>Update Items or Order and hit Update Result</h3>
    <p><strong>Note: </strong>Do not use space after the comma (,)</p>

  </div>

  <form (ngSubmit)="updateResult()">
    <div class="padding">
      <label for="items"> Items: </label>
      <input id="items" type="text" [(ngModel)]="items" name="items">
    </div>


    <div class="padding">
      <label for="order">Order: </label>
      <input id="order" type="text" [(ngModel)]="order" name="order">
    </div>

    <div class="padding align-center">
      <button class="btn btn-success" type="submit">Update Result</button>
    </div>

  </form>



  <div>
    <strong>Result: </strong> <i>{{result}}</i>

  </div>



</div>